{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-12">
    <h2>Liste des vols</h2>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Départ</th>
            <th>Arrivée</th>
            {% if app.user.gestionnaire %}
                <th>Pilote</th><th>Avion</th>
            {% endif %}
        </tr>
        {% for vol in pagination %}
            <tr>
                <td>{{ vol.id }}</td>
                <td>{{ vol.villeDepart.nom }}</td>
                <td>{{ vol.villeArrivee.nom }}</td>
                {% if app.user.gestionnaire %}
                    <td>{% if vol.pilote %}{{ vol.pilote.username }}
                        {% else %}Aucun pilote affecté
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPilote{{ vol.id }}">Affecté</button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalPilote{{ vol.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Affectation d'un pilote au vol {{ vol.id }} en partance de {{ vol.villeDepart.nom }} arrivée {{ vol.villeArrivee.nom }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" class="form-inline" action="{{ path('affectePiloteAvion',{'id' : vol.id}) }}" id="formVol{{ vol.id }}">
                                                <div class="form-group">
                                                    <label>Pilote:  </label>
                                                    <select name="idpilote" class="form-control">{% for pilote in pilotesDispo %}<option value='{{ pilote.id }}'>{{ pilote.id }}. {{ pilote.username }}</option>{% endfor %}</select>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="$('#formVol{{ vol.id }}').submit();">Sauvegarder</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>

                    <td>{% if vol.avion %}{{ vol.avion.id }} | {{ vol.avion.name }}
                        {% else %}Aucun avion affecté
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAvion{{ vol.id }}">Affecté</button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalAvion{{ vol.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Affectation d'un avion au vol {{ vol.id }} en partance de {{ vol.villeDepart.nom }} arrivée {{ vol.villeArrivee.nom }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" class="form-inline" action="{{ path('affectePiloteAvion',{'id' : vol.id}) }}" id="formAvion{{ vol.id }}">
                                                <div class="form-group">
                                                    <label>Avion:  </label>
                                                    <select name="idavion" class="form-control">{% for avion in avionsDispo %}<option value='{{ avion.id }}'>{{ avion.id }}. {{ avion.name }}</option>{% endfor %}</select>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="$('#formAvion{{ vol.id }}').submit();">Sauvegarder</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% if pilotes is defined %}
        <h2>Liste des pilotes</h2>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
            {% for pilote in pilotes %}
                <tr><td>{{ pilote.id }}</td><td>{{ pilote.username }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if avions is defined %}
        <h2>Liste des avions</h2>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre de places</th>
            </tr>
            {% for avion in avions %}
                <tr><td>{{ avion.id }}</td><td>{{ avion.name }}</td><td>{{ avion.nbPlace }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}